*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif; 
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to left,#3d3dff,#7777ff);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 15px;
} 
.navbar-nav li
{
    padding:  0 10px ;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler-icon
{
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*---------seccion del banner-------------*/
#banner
{
    background-image:linear-gradient(to left,#3d3dff,#7777ff);
    color: #fff;
    padding-top: 5%;
}
.web-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.bottom-img
{
    width: 100%;
}
/*---------Seccion de proyectos-------------*/
#projects
{
    padding: 80px 0;
}
.projects-img
{
    width: 100px;
    margin-top: 20px;
}
.projects
{
    padding: 20px;
}
.projects h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px)
}
.title::after
{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    transform: translateY(8px)
}

/*---------Seccion de My hobbies-------------*/
#My_hobbies
{
    background:#f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.hobbies-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 10% s;
}
.video-hobbies
{
    margin-top: 50px;
    margin-left: 50px;
}
#My_hobbies ul li
{
    margin: 10px 0;
}
#My_hobbies ul ul
{
    margin-left: 20px;
}

/*---------Seccion de My Experience-------------*/
#My-Experience
{
    margin: 100px 0;
}

.par-exp
{
    margin-top: 30px;
}
.audio-exp
{
    margin-left: 25%;
}
/*---------Seccion de Footer-------------*/
#footer
{
    background-image: linear-gradient(to left,#3d3dff,#7777ff);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box 
{
    padding: 20px ;
}
.footer-box img
{
    width: 120px ;
    margin-bottom: 20px;
}